body {
  margin: 0px;
  font-family: "Whitney", "Open Sans", sans-serif;
}

.review_background {
  background-color: #2f3136;
  margin: 0px;
  color: white;
  margin-top:0%;
  width: 100%;
  height: 100%;
  overflow: auto; /* prevents child margin from affecting my margin */
}

.review_container {
  width: 75%;
  margin: auto;
  margin-top: 5%;
  background-color: #36393f;
  border-radius:4px;
}

.review_content {
  padding: 120px;
  padding-top:50px;
}

.review_header {
  padding: 10px;
  border-bottom: 2px solid #2b2e33;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  vertical-align:middle;
}

.review_header_tag {
  font-size: 30px;
  color: #72767d;
  padding-right: 10px;
  vertical-align:middle;
}

.review_avatar {
  width: 70px;
  height: 70px;
  float: left;
  margin-left: -95px;
  border-radius: 50%;
}

.review_name {
  font-weight:bold;
  padding-right: 10px;
  color: #2ecc71;
}

.review_timestamp {
  font-size:10px;
  color: #72767d;
}

.review_subtitle {
  font-weight:bold;
}

.review_body {
  padding-left: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2e3338; 
}
 
::-webkit-scrollbar-thumb {
  background: #202225; 
}